<!DOCTYPE html>

<html>

<head>
    <!--configure the doc-->
    <meta charset="utf-8">
    <title>{{header}}</title>
</head>

<body>
    <h1>{{header}}</h1>
    <p>Some text here...</p>
    {{> footer}}
</body>

</html>